#eventPage{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;

    #event-section{
        background-color: orange;
        .container{
            h2{
                color: black;
                font-weight: bold;
                margin-top: 10px;
            }
        }
    }
    #upcoming{
        .container{
            h3{
                margin-top: 50px;
                color: black;
                font-weight: bold;
                & span{
                    color: orange;
                }
            }
            .row{
                .first{
                    .image1{
                        background-image: url('../images/events_images/lead.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image2{
                        background-image: url('../images/events_images/jump.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image3{
                        background-image: url('../images/events_images/balloons.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image4{
                        background-image: url('../images/events_images/chairs.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image5{
                        background-image: url('../images/events_images/eve.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                }
                .second{
                    h3{
                        margin-top: 0px;
                    }
                    .left{
                        float: left;
                    }
                    .right{
                        float: right;
                    }
                    p{
                        display: inline-block;
                        text-indent: 50px;
                        text-align: justify;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        overflow: hidden;
                        max-height: 4.9em;
                        line-height: 1.8em;
                    }
                    .image1{
                        background-image: url('../images/events_images/lead.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 159px;
                        border-right: 5px solid white;
                        border-left: 5px solid white;
                     }
                     .image2{
                       background-image: url('../images/events_images/jump.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                    .image3{
                       background-image: url('../images/events_images/balloons.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                    .image4{
                       background-image: url('../images/events_images/chairs.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                    .image5{
                       background-image: url('../images/events_images/eve.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                }
            }
            hr{
                color: #0A0A0A;
            }
        }
    }
    #past{
        .container{
            h3{
                margin-top: 50px;
                color: black;
                font-weight: bold;
                & span{
                    color: orange;
                }
            }
            .row1{
                .first{
                    .image1{
                        background-image: url('../images/events_images/lead.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image2{
                        background-image: url('../images/events_images/jump.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image3{
                        background-image: url('../images/events_images/balloons.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image4{
                        background-image: url('../images/events_images/chairs.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image5{
                        background-image: url('../images/events_images/eve.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                }
                .second{
                    h3{
                        margin-top: 0px;
                    }
                    .left{
                        float: left;
                    }
                    .right{
                        float: right;
                    }
                    p{
                        display: inline-block;
                        text-indent: 50px;
                        text-align: justify;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        overflow: hidden;
                        max-height: 4.8em;
                        line-height: 1.8em;
                    }
                    .image1{
                        background-image: url('../images/events_images/lead.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 159px;
                        border-right: 5px solid white;
                        border-left: 5px solid white;
                     }
                     .image2{
                       background-image: url('../images/events_images/jump.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                    .image3{
                       background-image: url('../images/events_images/balloons.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                    .image4{
                       background-image: url('../images/events_images/chairs.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                    .image5{
                       background-image: url('../images/events_images/eve.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                }
            }
            .row2{
                margin-top: 100px;
                .first{
                    .image1{
                        background-image: url('../images/events_images/lead.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image2{
                        background-image: url('../images/events_images/jump.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image3{
                        background-image: url('../images/events_images/balloons.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image4{
                        background-image: url('../images/events_images/chairs.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                    .image5{
                        background-image: url('../images/events_images/eve.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 285px;
                    }
                }
                .second{
                    h3{
                        margin-top: 0px;
                    }
                    .left{
                        float: left;
                    }
                    .right{
                        float: right;
                    }
                    p{
                        display: inline-block;
                        text-indent: 50px;
                        text-align: justify;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        overflow: hidden;
                        max-height: 4.8em;
                        line-height: 1.8em;
                    }
                    .image1{
                        background-image: url('../images/events_images/lead.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 159px;
                        border-right: 5px solid white;
                        border-left: 5px solid white;
                     }
                     .image2{
                       background-image: url('../images/events_images/jump.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                    .image3{
                       background-image: url('../images/events_images/balloons.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                    .image4{
                       background-image: url('../images/events_images/chairs.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                    .image5{
                       background-image: url('../images/events_images/eve.jpg');
                       background-size: cover;
                       background-repeat: no-repeat;
                       width: 100%;
                       height: 159px;
                       border-right: 5px solid white;
                       border-left: 5px solid white;
                    }
                }
            }
        }
    }


    @media (max-width: 992px){
        #upcoming{
            .container{
                .row{
                    .first{
                        .image1{
                            height: 400px;
                        }
                        .image2{
                            height: 400px;
                        }
                        .image3{
                            height: 400px;
                        }
                        .image4{
                            height: 400px;
                        }
                        .image5{
                            height: 400px;
                        }
                    }
                }
            }
        }
        #past{
            .container{
                .row{
                    .first{
                        .image1{
                            height: 400px;
                        }
                        .image2{
                            height: 400px;
                        }
                        .image3{
                            height: 400px;
                        }
                        .image4{
                            height: 400px;
                        }
                        .image5{
                            height: 400px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 552px){
        #upcoming{
            .container{
                .row{
                    .second{
                        .left{
                            float: none;
                            text-align: center;
                        }
                        .right{
                            float: none;
                            text-align: center;
                        }
                    }
                }
            }
        }

        #past{
            .container{
                .row{
                    .second{
                        .left{
                            float: none;
                            text-align: center;
                        }
                        .right{
                            float: none;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 480px){
        #upcoming{
            .container{
                .row{
                    .second{
                        .slider-nav{
                            display: none;
                        }
                    }
                }
            }
        }

        #past{
            .container{
                .row{
                    .second{
                        .slider-nav{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}