#main{
    a{
        &:focus, &:active, &:visited{
            text-decoration: none;
        }
    }
    overflow-x: hidden;
    .navbar-custom{
        border-radius: 0;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        a:not(.navbar-brand){
            text-transform: uppercase;
            padding: 40px 15px;
            font-weight: bold;
            color: #ffffff;
            
            -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            transition: padding .5s ease-in-out,padding .5s ease-in-out;

            &:hover{
                background-color: inherit;
            }

            &:focus{
                background-color: inherit;
            }

            &:active{
                background-color: inherit;
            }
        }
         .navbar-brand{
            padding: 25px 15px;
            font-weight: bold;
            color: #ffffff;
            
            -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            transition: padding .5s ease-in-out,padding .5s ease-in-out;
        }
        .navbar-toggle{
            margin-top: 30px;
            -webkit-transition: margin .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: margin .5s ease-in-out,padding .5s ease-in-out;
            transition: margin .5s ease-in-out,padding .5s ease-in-out;
        }

        .icon-bar{
            background-color:#ffffff;
        }
        &.top-nav-collapse {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: #ffffff !important;
            a:not(.navbar-brand){
                padding: 15px;
                color: #28313b;
                -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                transition: padding .5s ease-in-out,padding .5s ease-in-out;
            }
            .navbar-brand{
                padding: 0 15px;
                font-weight: bold;
                color: #ffffff;
                
                -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                transition: padding .5s ease-in-out,padding .5s ease-in-out;
            }
            .icon-bar{
                background-color:#000000;
            }
            .navbar-toggle{
                margin-top: 5px;
                -webkit-transition: margin .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: margin .5s ease-in-out,padding .5s ease-in-out;
                transition: margin .5s ease-in-out,padding .5s ease-in-out;
			}
			// .mlg-logo{
			// 	width: 300px;
			// }
			.logo-black{
				width: 300px;
				opacity: 1;
				visibility: visible;
				transition: visibility 0s, opacity 0.5s linear;
			}
			.logo-white{
				width: 0;
				opacity: 0;
				transition: visibility 0s, opacity 0.5s linear;
			}
			.logo-black-xs{
				width: 250px;
				opacity: 1;
				transition: visibility 0s, opacity 0.5s linear;
			}
			.logo-white-xs{
				width: 0;
				opacity: 0;
				visibility: visible;
				transition: visibility 0s, opacity 0.5s linear;
			}
        }

        .navbar-toggle{
            .icon-bar {
                position: relative;
                transition: all 500ms ease-in-out;
                &:nth-of-type(2) {
                    top: 1px;
                }
                &:nth-of-type(3) {
                    top: 2px;
                }
            }
            &.active{
                .icon-bar {
                    &:nth-of-type(1) {
                        top: 6px;
                        transform: rotate(45deg);
                    }
                    &:nth-of-type(2) {
                         background-color: transparent;
                    }
                    &:nth-of-type(3) {
                        top: -6px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    .banner{
        height: 100vh;
        .banner-background{
            position: relative !important; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
            &-overlay{
				background: url('../images/banner.jpg') no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				width: 100%; /* Full width (cover the whole page) */
				height: 100vh; /* Full height (cover the whole page) */
				top: 0; 
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
            }            
        }
        .banner-carousel{
            display: block;
        }
        
        .banner-content-row{
            position: absolute;
            top: 10%;
            right: 0;
            width: inherit;
            z-index: 2;
            .slick-slider{
                position: absolute;
                right: 10%;
            }
        }
        .banner-content{
            color: #ffffff;
            p{
                font-size: 16px;
                display: block; /* Fallback for non-webkit */
                display: -webkit-box;
                max-width: 100%;
                height: 16px*1.4*5; /* Fallback for non-webkit */
                margin: 0 auto;
                font-size: 16px;
                line-height: 1.4;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;    
                text-align: left;
            }
        }
       
        .carousel-title{
            color:#ffffff;
            font-weight: bolder;
        }
        .slick-dots{
            padding: 0 46px;
            button:before{
                font-size: 12px;
                color: #00BFFE;
                opacity: 1;
            }
            .slick-active{
                button:before{
                    color: #E3A234 !important;
                }
            }
        }
    }
    .banner-half{
        height: 400px;
        .banner-background{
            position: relative !important; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 400px; /* Full height (cover the whole page) */
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
            &-overlay{
				background: url('../images/banner.jpg') no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				width: 100%; /* Full width (cover the whole page) */
				height: 400px; /* Full height (cover the whole page) */
				top: 0; 
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
            }            
        }
        .banner-carousel{
            display: block;
        }
        
        .banner-content-row{
            position: absolute;
            top: 10%;
            right: 0;
            width: inherit;
            z-index: 2;
            .slick-slider{
                position: absolute;
                right: 10%;
            }
        }
       
        .carousel-title{
            color:#ffffff;
            font-weight: bolder;
        }
        .slick-dots{
            padding: 0 46px;
            button:before{
                font-size: 12px;
                color: #00BFFE;
                opacity: 1;
            }
            .slick-active{
                button:before{
                    color: #E3A234 !important;
                }
            }
        }
    }
    .banner-overlay {
        position: absolute; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
		height: 100vh; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3); /* Black background with opacity */
        z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    }
    
    .banner-overlay-half {
        position: absolute; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
		height: 400px; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3); /* Black background with opacity */
        z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
	}

	.logo-black{
		width: 0;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}
	.logo-white{
		width: 350px;
		opacity: 1;
		visibility: visible;
		transition: visibility 0s, opacity 0.5s linear;
	}

	.logo-black-xs{
		width: 0;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}
	.logo-white-xs{
		width: 250px;
		opacity: 1;
		visibility: visible;
		transition: visibility 0s, opacity 0.5s linear;
    }
    
    #aboutUsSection{
        position: relative;
        height: 55vw;
        width: 90%;
        border-bottom: 1px solid grey;
        margin: 0 5vw;
        .aboutUs{ 
            .aboutUsText{
                margin-top: 10vw;
                h3{
                    text-indent: 20px;
                    font-weight: bold;
                    color:grey;
                    border-bottom:1px solid grey;
                    padding-bottom: 20px;
                    width: 90%;
                    font-size:1.7vw;
                }
                p{
                    font-size:1.3vw;
                    text-indent:50px;
                    font-weight: normal;
                    margin-top:5vw;
                    text-align: justify;
                    color:grey;
                }
                .text2{
                    margin-top:20px;
                }
            }
            .aboutUsImages{
                padding-left:5vw;
                padding-top:8vw;
                float:right;
                .aboutUsThumbnail{
                    width:90%;
                    height: auto;
                    padding: 10px;
                    -webkit-box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    -moz-box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    transform: rotate(-15deg);
                    background-color:white;
                }
                .aboutUsThumbnail2{
                    width:100%;
                    height: auto;
                    padding: 10px;
                    -webkit-box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    -moz-box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    box-shadow: 7px 9px 15px -2px rgba(0,0,0,0.75);
                    background-color:white;
                    margin-top:-150px;
                }
            }
        }
    }
    #coursesSection{
        height: 60vw;
        width: 90%;
        color: grey;
        border-bottom: 1px solid grey;
        margin: 0 5vw;
        .dividerLine{
            position: absolute;
            width: 100%;
            border-bottom: 1px solid grey;
        }
        .coursesLabel{
            text-align: center;
            margin-top:4vw;
        }
        .borderRight{
            border-right: 1px solid grey;
        }
        .department{
            h1{
                font-size:2vw;
                margin-top: 2vw;
                text-align: center;
                font-weight: bold;
                margin-bottom: 4vw;
            }
            .borderTop{
                width:100%;
                border-top: 1px solid grey;
            }
            .paddingBottom{
                padding-bottom:2vw;
            }
            .paddingTop{
                padding-top: 20px;
            }

            .topHeight{
                height: 20vw;
            }
            .bottomHeight{
                height: 17vw;
            }
            .course{  
                .courseLogo{
                    width:100%;
                    height: auto;
                }
                .courseImage{
                    width:100%;
                    height: auto;
                    background-color:white;
                    padding:0.5vw;
                    border:1px solid grey;
                    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
                    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
                    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
                }
                .marginTop{
                    margin-top:20px;
                }
                .courseDescription{
                    h3{
                        font-size:1.5vw;
                        font-weight: bold;
                        letter-spacing: 2px;
                    }
                    .textAlignRight{
                        text-align: right;
                    }
                    .descriptionP{
                        p{
                            font-size:1.3vw;
                            text-indent: 2vw;
                            text-align: justify;
                        }
                    }
                    .descriptionP2{
                        p{
                            font-size:1.3vw;
                            text-indent: 2vw;
                            text-align: justify;
                        }
                    }
                    .viewDetails{
                        margin: 0 auto;
                        width:150px;
                        position: relative;
                        button{
                            font-size: 10px;
                            border-radius: 20px;
                            background-color: #5D5D5D;
                            border:none;
                            color:white;
                            text-align: center;
                            padding: 15px;
                            width: 100%;
                            position: absolute;
                        }
                        button:hover{
                            background-color:#FFD200;
                            transition:0.3s;
                        }
                    }
                }
            }  
        }
    }

    #ourInstructors{
        height: 50vw;
        width: 90%;
        color: grey;
        border-bottom: 1px solid grey;
        margin: 0 5vw;
        position: relative;
        h3{
            font-size:2vw;
            font-weight: bold;
            width: 50%;
            margin: 5vw auto;
            text-align: center;
        }
        .instructorCarousel{
            position: relative;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            .slick-prev:after {
                font-family: 'fontawesome';
                content: "\f053";
                background-color: #3D92CB;
                color: white;
                font-size: 50px;
                padding:20px;
              }
              
              .slick-next:before {
                font-family: 'fontawesome';
                content: "\f054";
                background-color: #3D92CB;
                color: white;
                font-size: 50px;
                padding:20px;
              }
            .instructorBox{
                border:1px solid grey;
                margin: auto;
                border-radius: 5px;
                width: 25vw;
                height: 32vw;
                background-image: url("/assets/images/emma.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                overflow: hidden;
                .instructorDescription{
                    position: absolute;
                    bottom:-50%;
                    width: 100%;
                    height: 50%;
                    background-color: rgba(0,0,0,0.2);
                    transition:1s;
                    h4{
                        font-size: 2vw;
                        font-weight: bold;
                        color: white;
                        text-align: center;
                    }
                    p{
                        font-size: 1vw;
                        color:white;
                        text-align: justify;
                        width:60%;
                        margin:0 auto;
                    }
                    .viewDetails{
                        margin: 2vw auto;
                        width:50%;
                        position: relative;
                        button{
                            font-size: 20px;
                            background-color: #3D92CB;
                            border:none;
                            color:white;
                            text-align: center;
                            padding: 15px 50px;
                            width: 100%;
                            position: absolute;
                        }
                    }
                }
            }
            .instructorBox:hover .instructorDescription{
                bottom:0%;
                transition: 1s;
            }
        }
    }
    #events{
        height: 50vw;
        width: 100%;
        color: grey;
        border-bottom: 1px solid grey;
        margin: 0;
        position: relative;
        background-color: #949494;
        .eventsLabel{
            position: absolute;
            left:100px;
            top:50px;
            color:#FFD200;
            font-weight: bold;
            font-size:3em;
            .whiteText{
                color:white;
            }
        }
        .eventsCarousel{
            h1{
                padding:50px 100px;
                color:white;
                text-align: right;
                font-size: 3em;
                font-weight: bold;
            }
            .eventContent{
                width: 100%;
                height: 36vw;
                .mainPic{
                    width:100%;
                    height:auto;
                }
            }
        }
    }
}