#main{
    a{
        &:focus, &:active, &:visited{
            text-decoration: none;
        }
    }
    overflow-x: hidden;
    .navbar-custom{
        border-radius: 0;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        a:not(.navbar-brand){
            text-transform: uppercase;
            padding: 40px 15px;
            font-weight: bold;
            color: #ffffff;
            
            -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            transition: padding .5s ease-in-out,padding .5s ease-in-out;

            &:hover{
                background-color: inherit;
            }

            &:focus{
                background-color: inherit;
            }

            &:active{
                background-color: inherit;
            }
        }
         .navbar-brand{
            padding: 25px 15px;
            font-weight: bold;
            color: #ffffff;
            
            -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
            transition: padding .5s ease-in-out,padding .5s ease-in-out;
        }
        .navbar-toggle{
            margin-top: 30px;
            -webkit-transition: margin .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: margin .5s ease-in-out,padding .5s ease-in-out;
            transition: margin .5s ease-in-out,padding .5s ease-in-out;
        }

        .icon-bar{
            background-color:#ffffff;
        }
        &.top-nav-collapse {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: #ffffff !important;
            a:not(.navbar-brand){
                padding: 15px;
                color: #28313b;
                -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                transition: padding .5s ease-in-out,padding .5s ease-in-out;
            }
            .navbar-brand{
                padding: 0 15px;
                font-weight: bold;
                color: #ffffff;
                
                -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
                transition: padding .5s ease-in-out,padding .5s ease-in-out;
            }
            .icon-bar{
                background-color:#000000;
            }
            .navbar-toggle{
                margin-top: 5px;
                -webkit-transition: margin .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: margin .5s ease-in-out,padding .5s ease-in-out;
                transition: margin .5s ease-in-out,padding .5s ease-in-out;
			}
			// .mlg-logo{
			// 	width: 300px;
			// }
			.logo-black{
				width: 300px;
				opacity: 1;
				visibility: visible;
				transition: visibility 0s, opacity 0.5s linear;
			}
			.logo-white{
				width: 0;
				opacity: 0;
				transition: visibility 0s, opacity 0.5s linear;
			}
			.logo-black-xs{
				width: 250px;
				opacity: 1;
				transition: visibility 0s, opacity 0.5s linear;
			}
			.logo-white-xs{
				width: 0;
				opacity: 0;
				visibility: visible;
				transition: visibility 0s, opacity 0.5s linear;
			}
        }

        .navbar-toggle{
            .icon-bar {
                position: relative;
                transition: all 500ms ease-in-out;
                &:nth-of-type(2) {
                    top: 1px;
                }
                &:nth-of-type(3) {
                    top: 2px;
                }
            }
            &.active{
                .icon-bar {
                    &:nth-of-type(1) {
                        top: 6px;
                        transform: rotate(45deg);
                    }
                    &:nth-of-type(2) {
                         background-color: transparent;
                    }
                    &:nth-of-type(3) {
                        top: -6px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    .banner{
        height: 100vh;
        .banner-background{
            position: relative !important; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
            &-overlay{
				background: url('../images/banner.jpg') no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				width: 100%; /* Full width (cover the whole page) */
				height: 100vh; /* Full height (cover the whole page) */
				top: 0; 
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
            }            
        }
        .banner-carousel{
            display: block;
        }
        
        .banner-content-row{
            position: absolute;
            top: 10%;
            right: 0;
            width: inherit;
            z-index: 2;
            .slick-slider{
                position: absolute;
                right: 10%;
            }
        }
        .banner-content{
            color: #ffffff;
            p{
                font-size: 16px;
                display: block; /* Fallback for non-webkit */
                display: -webkit-box;
                max-width: 100%;
                height: 16px*1.4*5; /* Fallback for non-webkit */
                margin: 0 auto;
                font-size: 16px;
                line-height: 1.4;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;    
                text-align: left;
            }
        }
       
        .carousel-title{
            color:#ffffff;
            font-weight: bolder;
        }
        .slick-dots{
            padding: 0 46px;
            button:before{
                font-size: 12px;
                color: #00BFFE;
                opacity: 1;
            }
            .slick-active{
                button:before{
                    color: #E3A234 !important;
                }
            }
        }
    }
    .banner-half{
        height: 400px;
        .banner-background{
            position: relative !important; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 400px; /* Full height (cover the whole page) */
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
            &-overlay{
				background: url('../images/banner.jpg') no-repeat;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				width: 100%; /* Full width (cover the whole page) */
				height: 400px; /* Full height (cover the whole page) */
				top: 0; 
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
            }            
        }
        .banner-carousel{
            display: block;
        }
        
        .banner-content-row{
            position: absolute;
            top: 10%;
            right: 0;
            width: inherit;
            z-index: 2;
            .slick-slider{
                position: absolute;
                right: 10%;
            }
        }
       
        .carousel-title{
            color:#ffffff;
            font-weight: bolder;
        }
        .slick-dots{
            padding: 0 46px;
            button:before{
                font-size: 12px;
                color: #00BFFE;
                opacity: 1;
            }
            .slick-active{
                button:before{
                    color: #E3A234 !important;
                }
            }
        }
    }
    .banner-overlay {
        position: absolute; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
		height: 100vh; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3); /* Black background with opacity */
        z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    }
    
    .banner-overlay-half {
        position: absolute; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
		height: 400px; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3); /* Black background with opacity */
        z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
	}

	.logo-black{
		width: 0;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}
	.logo-white{
		width: 350px;
		opacity: 1;
		visibility: visible;
		transition: visibility 0s, opacity 0.5s linear;
	}

	.logo-black-xs{
		width: 0;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}
	.logo-white-xs{
		width: 250px;
		opacity: 1;
		visibility: visible;
		transition: visibility 0s, opacity 0.5s linear;
    }
    
    #aboutUsSection{
        position: relative;
        height: 55vw;
        width: 90%;
        // border-bottom: 1px solid grey;
        margin: 0 5vw;
        .aboutUs{ 
            .aboutUsText{
                margin-top: 10vw;
                h3{
                    text-indent: 20px;
                    font-weight: bold;
                    color:grey;
                    border-bottom:1px solid grey;
                    padding-bottom: 20px;
                    width: 90%;
                    font-size:1.7vw;
                }
                p{
                    font-size:1.3vw;
                    text-indent:50px;
                    font-weight: normal;
                    margin-top:5vw;
                    text-align: justify;
                    color:grey;
                }
                .text2{
                    margin-top:20px;
                }
            }
            .aboutUsImages{
                padding-left:5vw;
                padding-top:8vw;
                float:right;
                .aboutUsThumbnail{
                    width:90%;
                    height: auto;
                    padding: 10px;
                    -webkit-box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    -moz-box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    transform: rotate(-15deg);
                    background-color:white;
                }
                .aboutUsThumbnail2{
                    width:100%;
                    height: auto;
                    padding: 10px;
                    -webkit-box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    -moz-box-shadow: -7px 9px 15px -2px rgba(0,0,0,0.75);
                    box-shadow: 7px 9px 15px -2px rgba(0,0,0,0.75);
                    background-color:white;
                    margin-top:-150px;
                }
            }
        }
    }
    #coursesSection{
        height: 60vw;
        width: 90%;
        color: grey;
        border-bottom: 1px solid grey;
        margin: 0 5vw;
        .dividerLine{
            position: absolute;
            width: 100%;
            border-bottom: 1px solid grey;
        }
        .coursesLabel{
            text-align: center;
            margin-top:4vw;
        }
        .borderRight{
            border-right: 1px solid grey;
        }
        .department{
            h1{
                font-size:2vw;
                margin-top: 2vw;
                text-align: center;
                font-weight: bold;
                margin-bottom: 4vw;
            }
            .borderTop{
                width:100%;
                border-top: 1px solid grey;
            }
            .paddingBottom{
                padding-bottom:2vw;
            }
            .paddingTop{
                padding-top: 20px;
            }

            .topHeight{
                height: 20vw;
            }
            .bottomHeight{
                height: 17vw;
            }
            .course{  
                .courseLogo{
                    width:100%;
                    height: auto;
                }
                .courseImage{
                    width:100%;
                    height: auto;
                    background-color:white;
                    padding:0.5vw;
                    border:1px solid grey;
                    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
                    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
                    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
                }
                .marginTop{
                    margin-top:20px;
                }
                .courseDescription{
                    h3{
                        font-size:1.5vw;
                        font-weight: bold;
                        letter-spacing: 2px;
                    }
                    .textAlignRight{
                        text-align: right;
                    }
                    .descriptionP{
                        p{
                            font-size:1.3vw;
                            text-indent: 2vw;
                            text-align: justify;
                        }
                    }
                    .descriptionP2{
                        p{
                            font-size:1.3vw;
                            text-indent: 2vw;
                            text-align: justify;
                        }
                    }
                    .viewDetails{
                        margin: 0 auto;
                        width:150px;
                        position: relative;
                        button{
                            font-size: 10px;
                            border-radius: 20px;
                            background-color: #5D5D5D;
                            border:none;
                            color:white;
                            text-align: center;
                            padding: 15px;
                            width: 100%;
                            position: absolute;
                        }
                        button:hover{
                            background-color:#FFD200;
                            transition:0.3s;
                        }
                    }
                }
            }  
        }
    }

    #instructorsSection{
        position: relative;
        .prevButton{
            position: absolute;
            top:50%;
            left:0;
            font-family: 'fontawesome';
            background-color: #3D92CB;
            color: white;
            font-size: 2vw;
            padding:1vw;
        }
        .nextButton{
            position: absolute;
            right:0;
            top:50%;
            font-family: 'fontawesome';
            background-color: #3D92CB;
            color: white;
            font-size: 2vw;
            padding:1vw;
        }
        #ourInstructors{
            height: 50vw;
            width: 80%;
            color: grey;
            // border-bottom: 1px solid grey;
            margin: 0 10vw;
            position: relative;
            
            h3{
                font-size:2vw;
                font-weight: bold;
                width: 50%;
                margin: 5vw auto;
                text-align: center;
            }
            .instructorCarousel{
                position: relative;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                .slick-prev:after {
                    font-family: 'fontawesome';
                    content: "\f053";
                    background-color: #3D92CB;
                    color: white;
                    font-size: 50px;
                    padding:20px;
                }
                
                .slick-next:before {
                    font-family: 'fontawesome';
                    content: "\f054";
                    background-color: #3D92CB;
                    color: white;
                    font-size: 50px;
                    padding:20px;
                }
                .instructorBox{
                    border:1px solid grey;
                    margin: auto;
                    border-radius: 5px;
                    width: 25vw;
                    height: 32vw;
                    background-image: url("/assets/images/emma.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    overflow: hidden;
                    .instructorDescription{
                        position: absolute;
                        bottom:-50%;
                        width: 100%;
                        height: 50%;
                        background-color: rgba(0,0,0,0.2);
                        transition:1s;
                        h4{
                            font-size: 2vw;
                            font-weight: bold;
                            color: white;
                            text-align: center;
                        }
                        p{
                            font-size: 1vw;
                            color:white;
                            text-align: justify;
                            width:60%;
                            margin:0 auto;
                        }
                        .viewDetails{
                            margin: 2vw auto;
                            width:50%;
                            position: relative;
                            button{
                                font-size: 1vw;
                                background-color: #3D92CB;
                                border:none;
                                color:white;
                                text-align: center;
                                padding: 1vw 2vw;
                                width: 100%;
                                position: absolute;
                            }
                        }
                    }
                }
                .instructorBox:hover .instructorDescription{
                    bottom:0%;
                    transition: 1s;
                }
            }
        }  
    }
    
    #events{
        height: 55vw;
        width: 100%;
        color: grey;
        // border-bottom: 1px solid grey;
        margin: 0;
        position: relative;
        background-color: #949494;
        .prevButton{
            position: absolute;
            // top:5.1vw;
            // right:6vw;
            font-family: 'fontawesome';
            background-color: #3D92CB;
            color: white;
            font-size: 1vw;
            padding:0.5vw;
        }
        .nextButton{
            position: absolute;
            // top:5.1vw;
            // right:4vw;
            font-family: 'fontawesome';
            background-color: #3D92CB;
            color: white;
            font-size: 1vw;
            padding:0.5vw;
        }
        .eventsLabel{
            position: absolute;
            // border:1px solid white;
            // left:100px;
            // top:50px;
            color:#FFD200;
            font-weight: bold;
            font-size:3em;
            z-index: 2;
            padding: 50px 20% 50px 100px;
            // background-color:#949494;
            .whiteText{
                color:white;
            }
        }
        .eventsCarousel{
            h1{
                padding:50px 100px;
                color:white;
                text-align: right;
                font-size: 3em;
                font-weight: bold;
            }
            .mainPic{
                width:100%;
                height:40vw;
                background-image: url("/assets/images/events/mainPic1.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
            .subPic1{
                width:100%;
                height:20vw;
                background-image: url("/assets/images/events/singer.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
            .subPic2{
                width:100%;
                height:20vw;
                background-image: url("/assets/images/events/hotAir.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
            .subPic3{
                width:100%;
                height:20vw;
                background-image: url("/assets/images/events/soccer.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
            .subPic4{
                width:100%;
                height:20vw;
                background-image: url("/assets/images/events/weddingReception.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    #missionVisionGoal{
        height: auto;
        width: 100%;
        color: grey;
        // border-bottom: 1px solid grey;
        margin: 0;
        padding-bottom: 5vw;
        position: relative;
        background-color: white;
        .allContents{
            margin-top: 10vw;
            .header{
                .contentImg{
                    width:70%;
                    height: auto;
                    margin:0 auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                h1{
                    text-align: center;
                    font-weight: bold;
                }
                p{
                    margin-top: 3vw;
                    text-align: justify;
                    text-indent: 1.2vw;
                    font-size: 1vw;
                }
            }
        }
    }
    #contactUsSection{
        height: 55vw;
        width: 100%;
        color: grey;
        // border-bottom: 1px solid grey;
        margin: 0;
        position: relative;
        background-color: white;
        .mapBG{
            z-index: 1;
            iframe{
                width: 100%;
                height: 55vw;
            }
        }
        .contactBox{
            position: absolute;
            width: 45vw;
            height: auto;
            background-color: #949494;
            right: 5vw;
            top: 8vw;
            z-index: 2;
            .contactInfo{
                position: relative;
                margin:1vw;
                padding:1vw;
                width: 100%;
                height: 40vw;
                background-color: #3D92CB;
                h2{
                    color: white;
                }
                .contactDetails{
                    display: inline-block;
                    margin-top: 2vw;
                    .icons{
                        width:100%;
                        height: auto;
                    }
                    .contactText{
                        color: white;
                        font-size:1.2vw;
                        font-weight: bold;
                    }
                    .contactText2{
                        color: white;
                        font-size:1.2vw;
                        font-weight: bold;
                        letter-spacing: 2px;
                    }
                }
                .links{
                    margin-top: 60px;
                    margin-bottom: 55px;
                    .fa{
                        font-size: 25px;
                        // padding: 10px 15px;
                    }
                   
                    @import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
                    .social-btns .btn,
                    .social-btns .btn:before,
                    .social-btns .btn .fa {
                      -webkit-transition: all 0.35s;
                      transition: all 0.35s;
                      -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
                              transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
                    }
                    .social-btns .btn:before {
                      top: 90%;
                      left: -110%;
                    }
                    .social-btns .btn .fa {
                      -webkit-transform: scale(0.8);
                              transform: scale(0.8);
                    }
                    .social-btns .btn.instagram:before {
                      background-color: #3b5998;
                    }
                    .social-btns .btn.instagram .fa {
                      color: #3b5998;
                    }
                    .social-btns .btn.twitter:before {
                      background-color: #3cf;
                    }
                    .social-btns .btn.twitter .fa {
                      color: #3cf;
                    }
                    .social-btns .btn.linkedin:before {
                      background-color: #dc4a38;
                    }
                    .social-btns .btn.linkedin .fa {
                      color: #dc4a38;
                    }
                    .social-btns .btn.google:before {
                      background-color: #f26798;
                    }
                    .social-btns .btn.google .fa {
                      color: #f26798;
                    }
                    .social-btns .btn.facebook:before {
                      background-color: #00aff0;
                    }
                    .social-btns .btn.facebook .fa {
                      color: #00aff0;
                    }
                    .social-btns .btn:focus:before,
                    .social-btns .btn:hover:before {
                      top: -10%;
                      left: -10%;
                    }
                    .social-btns .btn:focus .fa,
                    .social-btns .btn:hover .fa {
                      color: #fff;
                      -webkit-transform: scale(1);
                              transform: scale(1);
                    }
                    .social-btns {
                      margin: auto;
                      font-size: 0;
                      text-align: center;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                    }
                    .social-btns .btn {
                      display: inline-block;
                      background-color: white;
                      width: 2.5vw;
                      height: 2.5vw;
                      line-height: 90px;
                      margin-right: 10px;
                    //   margin: 0 10px;
                      text-align: center;
                      position: relative;
                      overflow: hidden;
                      border-radius: 28%;
                      box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
                      opacity: 0.99;
                    }
                    .social-btns .btn:before {
                      content: '';
                      width: 120%;
                      height: 120%;
                      position: absolute;
                      -webkit-transform: rotate(45deg);
                              transform: rotate(45deg);
                    }
                    .social-btns .btn .fa {
                        font-size: 2vw;
                    }
                    .social-btns .btn .fa-facebook {
                        position: absolute;
                        top: 5px;
                        left: 8px;
                    }
                    .social-btns .btn .fa-instagram {
                        position: absolute;
                        top: 3px;
                        left: 4px;
                    }
                    .social-btns .btn .fa-twitter {
                        position: absolute;
                        top: 4px;
                        left: 4px;
                    }
                    .social-btns .btn .fa-linkedin {
                        position: absolute;
                        top: 4px;
                        left: 2px;
                    }
                    .social-btns .btn .fa-google-plus {
                        position: absolute;
                        top: 4px;
                        left: -4px;
                    }
                }
            }
            .contactAction{
                margin-top: 15%;
                padding:1vw;
                h4{
                    font-weight: bold;
                    font-size: 1.5vw;
                    color:white;
                }
                p{
                    font-size:1vw;
                    text-align: justify;
                    color:white;
                }
                .contactForm{
                    width:100%;
                    border-radius: 5px;
                    border:none;
                    padding:5px 5px 5px 15px;
                    font-size: 15px;
                    height:2vw;
                    margin-bottom: 10px;
                }
                .contactForm2{
                    width:100%;
                    border-radius: 5px;
                    border:none;
                    padding:5px 5px 5px 15px;
                    font-size: 15px;
                    height:7vw;
                    margin-bottom: 10px;
                    text-align: left;
                    vertical-align: top;
                }
                .contactSubmit{
                    background-color: #428FC6;
                    border:none;
                    border-radius: 30px;
                    color:white;
                    font-size: 1vw;
                    padding:0.5vw 1.2vw;
                    width:7vw;
                    float:right;
                }
            }
        }
    }
    #footer{
        background-color: #949494;
        color:white;
        .container-fluid{
            .row{
                .first{
                    height: 15vw;
                    padding: 0px 4vw;
                    border-right: 1px solid lightgray;
                    h3{
                        font-weight: bold;
                    }
                   input{
                       padding: 10px 20px;
                       width: 20vw;
                       border-radius: 100px;
                       border: 2px solid white;
                       color:white;
                       background-color:#949494;
                   }
                   input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: white;
                    }
                    input::-moz-placeholder { /* Firefox 19+ */
                        color: white;
                    }
                    input:-ms-input-placeholder { /* IE 10+ */
                        color: white;
                    }
                    input:-moz-placeholder { /* Firefox 18- */
                        color: white;
                    }
                   a{
                       width: 10vw;
                       margin-left: 20px;
                       border-radius: 100px;
                       padding: 10px px;
                       font-size: 20px;
                       background-color: #3D92CB;
                   }
                   p{
                       width: 80%;
                       margin-top: 20px;
                       color: white;
                       text-align: justify;
                   }
                }
                .second{
                    height: 15vw;
                    padding: 2.5vw 5px 0 5px;
                    // border-left: 1px solid lightgray;
                    border-right: 1px solid lightgray;
                    a{
                    display: inline-block;
                    width: 100%;
                    margin-top: 10px;
                    font-size: 1.3vw;
                    }  
                }

                .third{
                    height: 15vw;
                    padding-top:2.5vw;
                    .contentLogo{
                        width: 30%;
                        height: auto;
                        margin: auto;
                        position: relative;
                        display:flex;
                        align-items: center;
                        img{ 
                            width: 100%;
                            height: auto;
                            // position: absolute;
                            // top:2.5vw;
                            // left: 8vw;
                        }  
                    }
                    .logoLabel{
                        font-weight: bold;
                        text-align: center;
                        color: black;
                    }
                    .logoLabel2{
                        text-align: center;
                        color: black;
                    }
                  
                }
                @media screen and (max-width:1200px) {
                    .first{
                        height:23vw;
                        input{
                            width:35vw;
                            display:block;
                        }
                        a{
                            margin-top: 10px;
                            width: 35vw;
                            margin-left: 0;
                         }
                    }
                    .second{
                        height:23vw;
                        padding: 0 5px;
                        display:flex;
                        align-items: center;
                    }
                    .third{
                        height:23vw;
                        padding-top:5vw;
                    }
                }
            }
        }
    }
}