<section class="banner-half admission-banner">
        <div class="banner-background banner-background-slick">
            <div class="banner-background-overlay" style="background-image:url('assets/images/admission/admission-banner.jpg')"></div>
        </div>
        <div class="banner-info">
            <div class="container">
                <h2>Register Now</h2>
                <a href = "" class = "btn btn-success">Requirements</a>
            </div>
        </div>
        <div class="banner-overlay-half"></div>
    </section>