<ng-include src="'assets/app/template/partial/bannerHalf.html'"></ng-include>

<section id="aboutPage" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          
        </div>
    </div>

    <div class="about_mlg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>ABOUT MLG COLLEGE OF LEARNING. INC.</h2>
                </div>
            </div>
        </div>
    </div>

    <section id="loren_ipsum">
        <div class="container">
            <div class="row row1">
                <div class="col-md-12 margin-top-50">
                    <h2>LOREM IPSUM</h2>
                </div>
            </div>
            <div class="row row2">
                <div class="col col-md-5 col-sm-12 image">
                    <center>
                        <img src="assets/images/about/mlg.jpg" alt="">
                    </center>
                </div>
                <div class="col col-md-7 col-sm-12 text">
                   <p>
                    Lorem Ipsum is simply dummy text
                    of the printing and typesetting 
                    industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever
                    since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to 
                    make a type specimen book. It has survived 
                    not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially 
                    unchanged. It was popularised in the 1960s with the 
                    release of Letraset sheets containing Lorem Ipsum 
                    passages.
                   </p>
                   <p>
                    Lorem Ipsum is simply dummy text
                    of the printing and typesetting 
                    industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever
                    since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to 
                    make a type specimen book. It has survived 
                    not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially 
                    unchanged. It was popularised in the 1960s with the 
                    release of Letraset sheets containing Lorem Ipsum 
                    passages.
                   </p>
                </div>
            </div>

            <!-- second row -->

            <div class="row row3 margin-top-50">
                <div class="col col-md-5 col-sm-12 image">
                    <center>
                        <img src="assets/images/about/mlg.jpg" alt="">
                    </center>
                </div>
                <div class="col col-md-7 col-sm-12 text">
                    <p>
                    Lorem Ipsum is simply dummy text
                    of the printing and typesetting 
                    industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever
                    since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to 
                    make a type specimen book. It has survived 
                    not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially 
                    unchanged. It was popularised in the 1960s with the 
                    release of Letraset sheets containing Lorem Ipsum 
                    passages.
                    </p>
                    <p>
                    Lorem Ipsum is simply dummy text
                    of the printing and typesetting 
                    industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever
                    since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to 
                    make a type specimen book. It has survived 
                    not only five centuries, but also the leap 
                    into electronic typesetting, remaining essentially 
                    unchanged. It was popularised in the 1960s with the 
                    release of Letraset sheets containing Lorem Ipsum 
                    passages.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="image_slider">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 center">
                    <div class="image1"></div>
                    <div class="image2"></div>
                    <div class="image3"></div>
                    <div class="image4"></div>
                    <div class="image5"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <p>
                            Lorem Ipsum is simply dummy text
                            of the printing and typesetting 
                            industry. Lorem Ipsum has been the 
                            industry's standard dummy text ever
                            since the 1500s, when an unknown printer
                            took a galley of type and scrambled it to 
                            make a type specimen book. It has survived 
                            not only five centuries, but also the leap 
                            into electronic typesetting, remaining essentially 
                            unchanged. It was popularised in the 1960s with the 
                            release of Letraset sheets containing Lorem Ipsum 
                            passages.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text
                            of the printing and typesetting 
                            industry. Lorem Ipsum has been the 
                            industry's standard dummy text ever
                            since the 1500s, when an unknown printer
                            took a galley of type and scrambled it to 
                            make a type specimen book. It has survived 
                            not only five centuries, but also the leap 
                            into electronic typesetting, remaining essentially 
                            unchanged. It was popularised in the 1960s with the 
                            release of Letraset sheets containing Lorem Ipsum 
                            passages.
                        </p>
                </div>
            </div>
        </div>
    </section>



    <script>
        $('.center').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 3,
            dots: true,
            responsive: [
                {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 2
                }
                },
                {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
                }
            ]
            });
    </script>
</section>