<ng-include src="'assets/app/template/partial/admissionbanner.html'"></ng-include>
<section id="admissionPage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Online Registration</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                <form class="form-horizontal">
                    <section class = "admission-content ad-show">
                        <div class="first-info">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Courses" class = "control-label col-sm-3">Courses:</label>
                                    <div class="col-sm-9">
                                    <select name="" id="" class = "form-control">
                                        <option value="BEED">BEED</option>
                                        <option value="BSED">BSED</option>
                                        <option value="BSIT">BSIT</option>
                                    </select>
                                    <span class = "fa fa-angle-down"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Courses" class = "control-label col-sm-3">Year Level:</label>
                                    <div class="col-sm-9">
                                    <select name="" id="" class = "form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <span class = "fa fa-angle-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="personalinfo">
                                <h2>Personal Information</h2>
                                <span class = "fa fa-user-circle"></span>
                            </div>
                        </div>
                        <div class="first-info">
                            <div class="secondinfo">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="firstname">First Name <span>*</span></label>
                                        <div class="input-field">
                                            <input type="text" name = "firstname" value = "" class="form-control require">
                                            <span class = "fa fa-exclamation"></span>
                                            <div class="form-arrow"></div>
                                            <p>Please fill out this field</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Middle Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="firstname">Last Name <span>*</span></label>
                                        <div class="input-field">
                                            <input type="text" name = "lastname" value = "" class="form-control require">
                                            <span class = "fa fa-exclamation"></span>
                                            <div class="form-arrow"></div>
                                            <p>Please fill out this field</p>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Gender</label>
                                        <select name="" id="" class = "form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                        <span class = "fa fa-angle-down"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Status</label>
                                        <select name="" id="" class = "form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                        <span class = "fa fa-angle-down"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="firstname">Citizen <span>*</span></label>
                                        <div class="input-field">
                                            <input type="text" name = "citizen" value = "" class="form-control require">
                                            <span class = "fa fa-exclamation"></span>
                                            <div class="form-arrow"></div>
                                            <p>Please fill out this field</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="firstname">Religion <span>*</span></label>
                                        <div class="input-field">
                                            <input type="text" value = "" class="form-control require">
                                            <span class = "fa fa-exclamation"></span>
                                            <div class="form-arrow"></div>
                                            <p>Please fill out this field</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Date of Birthday</label>
                                        <div id="selectdate">
                                            <input value = "12/12/12"class="form-control require">
                                            <span class = "fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="button-content">
                                        <p><input class = "btn btn-success"type="reset" value = "RESET"></p>
                                        <p>
                                            <button class = "btn btn-success">Previous</button>
                                            <button id = "next" class = "btn btn-success">Next Step</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class = "admission-content">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="personalinfo">
                                <h2>Contact Details</h2>
                                <span class = "fa fa-phone"></span>
                            </div>
                        </div>
                        <div class="first-info">
                            <div class="secondinfo">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Address Line 1 <span>*</span></label>
                                        <div class="input-field">
                                            <input type="text" class="form-control require">
                                            <span class = "fa fa-exclamation"></span>
                                            <div class="form-arrow"></div>
                                            <p>Please fill out this field</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Address Line 2 <span>*</span></label>
                                        <div class="input-field">
                                            <input type="text" class="form-control require">
                                            <span class = "fa fa-exclamation"></span>
                                            <div class="form-arrow"></div>
                                            <p>Please fill out this field</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">City</label>
                                        <select name="" id="" class = "form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                        <span class = "fa fa-angle-down"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">State</label>
                                        <select name="" id="" class = "form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                        <span class = "fa fa-angle-down"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="firstname">Zip Code <span>*</span></label>
                                        <div class="input-field">
                                            <input type="text" class="form-control require">
                                            <span class = "fa fa-exclamation"></span>
                                            <div class="form-arrow"></div>
                                            <p>Please fill out this field</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstname">Mobile Number <span>*</span></label>
                                        <div class="input-field">
                                            <input type="text" class="form-control require">
                                            <span class = "fa fa-exclamation"></span>
                                            <div class="form-arrow"></div>
                                            <p>Please fill out this field</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="firstname">Email Ad <span>*</span></label>
                                            <div class="input-field">
                                                <input type="text" class="form-control require">
                                                <span class = "fa fa-exclamation"></span>
                                                <div class="form-arrow"></div>
                                                <p>Please fill out this field</p>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-md-12">
                                    <div class="button-content">
                                        <p><input class = "btn btn-success"type="reset" value = "RESET"></p>
                                        <p>
                                            <button class = "btn btn-success">Previous</button>
                                            <button id = "next" class = "btn btn-success">Next Step</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class = "admission-content">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div id="personalinfo">
                                    <h2>Confirmation</h2>
                                    <span class = "fa fa-check"></span>
                                </div>
                            </div>
                            <div class="first-info">
                                <div class="secondinfo">
                                    <div class="col-md-8">
                                        <div class="col-md-4">
                                            <img src="assets/images/admission/user.png" alt="" class="img-circle">
                                            <button class = "btn btn-success">Browse Picture</button>
                                            <input type="file">
                                        </div>
                                        <div class="col-md-8">
                                            <h2>JOHN B. DOE</h2>
                                            <p>Bachelor in Science of Information Technology</p>

                                            <div class="person-info table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>Gender</td>
                                                            <td>Male</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Status</td>
                                                            <td>Single</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Religion</td>
                                                            <td>Roman Catholic</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Date of Birth</td>
                                                            <td>January 1 2001</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td>
                                                        <span>Brgy. San Juan</span>
                                                        <span>Hilongos Leyte</span>
                                                        <span>Philippines, 6524</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Mobile No:</td>
                                                    <td>0907-977-5968</td>
                                                </tr>
                                                <tr>
                                                    <td>Email Ad:</td>
                                                    <td>abc@gmail.com</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="button-content">
                                            <p><input style = "display:none"class = "btn btn-success"type="reset" value = "RESET"></p>
                                            <p>
                                                <button class = "btn btn-success">Previous</button>
                                                <input type = "submit" class = "btn btn-success"value = "Send Application">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    <div class="col-md-12">
                        <div class="step-number">
                            <div class="color-indicator">
                                <div class="color-info"></div>
                            </div>
                            <p>1</p>
                            <p>2</p>
                            <p>3</p>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $("#admissionPage .container .row .col-md-12 .form-horizontal .first-info .secondinfo .col-md-4 .form-group #selectdate input").datepicker();
    });
    $("#admissionPage .container .row .col-md-12 .form-horizontal .first-info .secondinfo .col-md-4 .form-group #selectdate span").click(function(){
        // $(this).parent().children("input[type='date']").datepicker('show');
        $("#admissionPage .container .row .col-md-12 .form-horizontal .first-info .secondinfo .col-md-4 .form-group #selectdate input").datepicker('show');
        
    });
    $("#admissionPage .container .row .col-md-12 .form-horizontal .first-info .secondinfo .col-md-8 .col-md-4 button").click(function(){
        $("#admissionPage .container .row .col-md-12 .form-horizontal .first-info .secondinfo .col-md-8 .col-md-4 input").click();
    });
    
    
    $("#admissionPage .container .row .col-md-12 .form-horizontal .admission-content .first-info .secondinfo .col-md-4 .form-group .input-field input[type='text']").change(function(){
        var input = $(this);
        if(input.val() == ''){
            input.parent('.input-field').addClass('require');
        }else{
            input.parent('.input-field').removeClass('require');
        }
    });
    $("#admissionPage .container .row .col-md-12 .form-horizontal .admission-content .first-info .secondinfo .col-md-8 .form-group .input-field input[type='text']").change(function(){
        var input = $(this);
        if(input.val() == ''){
            input.parent('.input-field').addClass('require');
        }else{
            input.parent('.input-field').removeClass('require');
        }
    });
    $("#admissionPage .container .row .col-md-12 .form-horizontal .admission-content .first-info .secondinfo .col-md-4 .form-group .input-field input[type='text']").keyup(function(){
        var input = $(this);
        if(input.val() == ''){
            input.parent('.input-field').addClass('require');
        }else{
            input.parent('.input-field').removeClass('require');
        }
    });
    $("#admissionPage .container .row .col-md-12 .form-horizontal .admission-content .first-info .secondinfo .col-md-8 .form-group .input-field input[type='text']").keyup(function(){
        var input = $(this);
        if(input.val() == ''){
            input.parent('.input-field').addClass('require');
        }else{
            input.parent('.input-field').removeClass('require');
        }
    });

    // BUTTON CLICK
    $("#admissionPage .container .row .col-md-12 .form-horizontal .first-info .secondinfo .col-md-12 .button-content p #next").click(function(){
        // var check = 1;
        // // var inputfield = $("#admissionPage .container .row .col-md-12 .form-horizontal .admission-content .first-info .secondinfo .col-md-4 .form-group .input-field .require");
        // // for(var x = 0; x < inputfield.length;x++){
        // //     var val = inputfield[x].nodeValue;
        // //     if( val == null){
        // //         // inputfield[x].parent('input-field').addClass('require');
        // //         console.log(inputfield);
        // //     }
        // // }
        var check1 = check();
        alert(check1);
        if(check1 < 1){
            alert(1);
            // if( $(this).parents('.admission-content').next().is('.admission-content')){
            //     $(this).parents('.admission-content').fadeOut(1000);
            //     // setInterval(1000);
            //     $(this).parents('.admission-content').next().delay(1000).fadeIn();
            //     var color1 = $("#admissionPage .container .row .col-md-12 .form-horizontal .col-md-12 .step-number .color-indicator .color-info").width();
            //     if(color1 == 0){
            //         $("#admissionPage .container .row .col-md-12 .form-horizontal .col-md-12 .step-number .color-indicator .color-info").animate({'width':'50%'},1000);
            //         $("#admissionPage .container .row .col-md-12 .form-horizontal .col-md-12 .step-number p:nth-of-type(2)").delay(1000).css('background-color','#b7a515');
            //     }
            //     else{
            //         $("#admissionPage .container .row .col-md-12 .form-horizontal .col-md-12 .step-number .color-indicator .color-info").animate({'width':'100%'},1000);
            //         $("#admissionPage .container .row .col-md-12 .form-horizontal .col-md-12 .step-number p:nth-of-type(3)").delay(1000).css('background-color','#b7a515');
            //     }
            // }
        }
        
    });
    $("#admissionPage .container .row .col-md-12 .form-horizontal .first-info .secondinfo .col-md-12 .button-content p button:nth-child(1)").click(function(){
        // $("#admissionPage .container .row .col-md-12 .form-horizontal .admission-content").addClass('ad-show');
        // var parent = $(this).parents('.admission-content').next();
        if( $(this).parents('.admission-content').prev().is('.admission-content')){
            $(this).parents('.admission-content').fadeOut(1000);
            $(this).parents('.admission-content').prev().delay(1000).fadeIn();
        }else{
            //
        }
        
    });
    function check(){
        var x = 0;
        $("#admissionPage .container .row .col-md-12 .form-horizontal .admission-content .first-info .secondinfo .col-md-4 .form-group .input-field .require").each(function(){
            if($(this).val() == ''){
                $(this).parent().addClass('require');
                x += 1;
            }
        });
        $("#admissionPage .container .row .col-md-12 .form-horizontal .admission-content .first-info .secondinfo .col-md-8 .form-group .input-field .require").each(function(){
            if($(this).val() == ''){
                $(this).parent().addClass('require');
               x += 1;
            }
        });
        return x;
    }
</script>