<ng-include src="'assets/app/template/partial/bannerHalf.html'"></ng-include>
<section id="course-page">
    <div class="container-title">
        <div class="container">
            <h2 id = "page-title">Courses</h2>
        </div>
    </div>
</section>
<section id="eventPage" class="container courses-page">
    <div class="row">
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="courses-image">
                <img src="assets/images/courses/high-jump.jpg" alt="">
                <div class="courses-desc">
                    <div class="desc-content">
                        <div class="courses-title">
                            <h2>COLLEGE DEPARTMENT</h2>
                            <p></p>
                        </div>
                        <div class="courses-overlay"></div>
                    </div>
                </div>
                <div class="arrow-pointer"></div>
            </div>
            <div id = "courses-collapse">
                <div class="row">
                    <div class="container">
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Bachelor in Elementary Education</h2>
                                <pre>-BEED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-12">
                            <div id="separator"></div>
                        </div>
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Bachelor in Secondary Education</h2>
                                <pre>-BSED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>   
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="courses-image">
                <img src="assets/images/courses/high-jump.jpg" alt="">
                <div class="courses-desc">
                    <div class="desc-content">
                        <div class="courses-title">
                            <h2>JUNIOR SCHOOL DEPARTMENT</h2>
                            <p></p>
                        </div>
                        <div class="courses-overlay"></div>
                    </div>
                </div>
                <div class="arrow-pointer"></div>
            </div>
            <div id = "courses-collapse">
                <div class="row">
                    <div class="container">
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Grade 7 - 10</h2>
                                <pre>-BEED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-12">
                            <div id="separator"></div>
                        </div>
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Bachelor in Secondary Education</h2>
                                <pre>-BSED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>   
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="courses-image">
                <img src="assets/images/courses/high-jump.jpg" alt="">
                <div class="courses-desc">
                    <div class="desc-content">
                        <div class="courses-title">
                            <h2>SENIOR HIGH DEPARTMENT</h2>
                            <p></p>
                        </div>
                        <div class="courses-overlay"></div>
                    </div>
                </div>
                <div class="arrow-pointer"></div>
            </div>
            <div id = "courses-collapse">
                <div class="row">
                    <div class="container">
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Grade 11 & Grade 12</h2>
                                <pre>-BEED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-12">
                            <div id="separator"></div>
                        </div>
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Bachelor in Secondary Education</h2>
                                <pre>-BSED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>   
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="courses-image">
                <img src="assets/images/courses/high-jump.jpg" alt="">
                <div class="courses-desc">
                    <div class="desc-content">
                        <div class="courses-title">
                            <h2>COLLEGE DEPARTMENT</h2>
                            <p></p>
                        </div>
                        <div class="courses-overlay"></div>
                    </div>
                </div>
                <div class="arrow-pointer"></div>
            </div>
            <div id = "courses-collapse">
                <div class="row">
                    <div class="container">
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Bachelor in Elementary Education</h2>
                                <pre>-BEED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-12">
                            <div id="separator"></div>
                        </div>
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Bachelor in Secondary Education</h2>
                                <pre>-BSED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>   
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="courses-image">
                <img src="assets/images/courses/high-jump.jpg" alt="">
                <div class="courses-desc">
                    <div class="desc-content">
                        <div class="courses-title">
                            <h2>JUNIOR SCHOOL DEPARTMENT</h2>
                            <p></p>
                        </div>
                        <div class="courses-overlay"></div>
                    </div>
                </div>
                <div class="arrow-pointer"></div>
            </div>
            <div id = "courses-collapse">
                <div class="row">
                    <div class="container">
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Grade 7 - 10</h2>
                                <pre>-BEED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-12">
                            <div id="separator"></div>
                        </div>
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Bachelor in Secondary Education</h2>
                                <pre>-BSED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>   
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="courses-image">
                <img src="assets/images/courses/high-jump.jpg" alt="">
                <div class="courses-desc">
                    <div class="desc-content">
                        <div class="courses-title">
                            <h2>SENIOR HIGH DEPARTMENT</h2>
                            <p></p>
                        </div>
                        <div class="courses-overlay"></div>
                    </div>
                </div>
                <div class="arrow-pointer"></div>
            </div>
            <div id = "courses-collapse">
                <div class="row">
                    <div class="container">
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Grade 11 & Grade 12</h2>
                                <pre>-BEED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="col-md-12">
                            <div id="separator"></div>
                        </div>
                        <div class="courses-description">
                            <div class="col-md-8">
                                <h2>Bachelor in Secondary Education</h2>
                                <pre>-BSED</pre>
                                <br>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p> 
                            </div>
                            <div class="col-md-4">
                                <div class="main-image">
                                    <div class="main-inner-image" style = "background-image:url('assets/images/courses/high-jump.jpg')">

                                    </div>
                                </div>
                            </div>   
                        </div>   
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('.courses-page .row .col-xs-12').click(function(){
    // var col = $('.oppurtunities .container .row .col-xs-12 #job-collapse').outerHeight();
    // col = col + 10;
    if($(this).hasClass('is-expand')){
      // $(this).children('#job-collapse').fadeOut();
      setInterval(300);
      $(this).children('#courses-collapse').fadeIn();
    }else{
      $('.courses-page .row .col-xs-12').removeClass('is-expand');
      $('.courses-page .row .col-xs-12 #courses-collapse').fadeOut(100);
      $(this).addClass('is-expand');
      $(this).children('#courses-collapse').fadeIn(500);
      var x = $(this).children('#courses-collapse').offset().top - 80;
      setInterval(150);
      $('html, body').animate({
        scrollTop: x
      }, 1000);  
    }
});
</script>