<ng-include src="'assets/app/template/partial/bannerHalf.html'"></ng-include>

<section id="instructorPage" class="container">
    <div class="row">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="intructorPic2"></div>
        </div>
        <div class="col-sm-7 col-xs-12">
            <h1 class="instructorName">EMMA WAGAS</h1>
            <h3 class="infoMainLabel">BACHELOR OF SCIENCE AND INFORMATION TECHNOLOGY</h3>
            <div class="info">
                <h3 class="infoSubLabel">PERSONAL:</h3>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">Date of Birth:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">10 - 10 - 10</h4>
                    </div>
                </div>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">Place of Birth:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">Dubai Leyte, Philippines</h4>
                    </div>
                </div>
            </div>
            <div class="info">
                <h3 class="infoSubLabel">EDUCATION:</h3>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">Elementary:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">Hilongos, South</h4>
                    </div>
                </div>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">Secondary:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">Hilongos National Vocational School</h4>
                    </div>
                </div>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">College:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">MLG College of Learning</h4>
                    </div>
                </div>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">Further Studies:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">Saint Joseph College</h4>
                    </div>
                </div>
            </div>
            <div class="info">
                <h3 class="infoSubLabel">WORK EXPERIENCE:</h3>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">1990 - 1995:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">Hilongos, South</h4>
                    </div>
                </div>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">1995 - 2000:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">Hilongos National Vocational School</h4>
                    </div>
                </div>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">2000 - 2010:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">MLG College of Learning</h4>
                    </div>
                </div>
                <div class="row infoContent">
                    <div class="col-sm-4 col-xs-4">
                        <h4 class="infoLeft">2010 - 2017:</h4>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <h4 class="infoRight">Saint Joseph College</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 hidden-xs">
            <div class="intructorPic"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 instructorMoreInfo">
            <p class="instructorInfo">
                Lorem Ipsum is simply dummy text 
                of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard 
                dummy text ever since the 1500s, when an unknown 
                printer took a galley of type and scrambled it to 
                make a type specimen book. It has survived not 
                only five centuries, but also the leap into
                 electronic typesetting, remaining essentially unchanged
            </p>
            <p class="instructorInfo">
                Lorem Ipsum is simply dummy text 
                of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard 
                dummy text ever since the 1500s, when an unknown 
                printer took a galley of type and scrambled it to 
                make a type specimen book. It has survived not 
                only five centuries, but also the leap into
                 electronic typesetting, remaining essentially unchanged
            </p>
        </div>
    </div>
</section>