<ng-include src="'assets/app/template/partial/bannerWhole.html'"></ng-include>

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div id="aboutUsSection" class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 aboutUs">
                            <div class="row">
                                <div class="col-md-7 aboutUsText">
                                    <h3>Welcome to MLG College of Learning, Inc.</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                        when an unknown printer took a galley of type and scrambled it to make a 
                                        type specimen book. It has survived not only five centuries, 
                                        but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                    <p class="text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                        when an unknown printer took a galley of type and scrambled it to make a 
                                        type specimen book. It has survived not only five centuries, 
                                        but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </div>
                                <div class="col-md-5 aboutUsImages">
                                    <img class="aboutUsThumbnail" src="assets/images/aboutUs11.jpg">
                                    <img class="aboutUsThumbnail2" src="assets/images/aboutUs22.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div id="coursesSection" class="col-md-12">
                    <div class="dividerLine"></div>
                    <h1 class="coursesLabel">Courses</h1>
                    <div class="row">
                        <div class="col-md-6 department padding-0">
                            <h1>College Department</h1>
                            <div class="col-md-12 departmentContent borderRight">
                                <div class="row">
                                    <div class="col-md-12 course topHeight">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <img class="courseLogo" src="assets/images/workspace.png">
                                            </div>
                                            <div class="col-md-7 courseDescription">
                                                <h3>BSIT</h3>
                                                <div class="col-md-12 descriptionP">
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of 
                                                    the printing and typesetting industry. 
                                                    Lorem Ipsum has been the industry's 
                                                    standard dummy text ever since the 1500s.
                                                    </p>
                                                    <div class="col-md-12">
                                                        <div class="viewDetails">
                                                            <button type="button">VIEW DETAILS</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-12 departmentContent borderTop borderRight paddingTop">
                                <div class="row">
                                    <div class="col-md-12 course bottomHeight">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <img class="courseLogo" src="assets/images/bookshelf.png">
                                            </div>
                                            <div class="col-md-7 courseDescription">
                                                <h3>BEED Major in English</h3>
                                                <div class="col-md-12 descriptionP">
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of 
                                                    the printing and typesetting industry. 
                                                    Lorem Ipsum has been the industry's 
                                                    standard dummy text ever since the 1500s.
                                                    </p>
                                                    <div class="col-md-12">
                                                        <div class="viewDetails">
                                                            <button type="button">VIEW DETAILS</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-6 department padding-0">
                            <h1>JUNIOR & SENIOR HIGH SCHOOL</h1>
                            <div class="col-md-12 departmentContent">
                                <div class="row">
                                    <div class="col-md-12 course topHeight">
                                        <div class="row">
                                            <div class="col-md-7 courseDescription">
                                                <h3 class="textAlignRight">GRADE 7 - 10</h3>
                                                <div class="col-md-12 descriptionP">
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of 
                                                    the printing and typesetting industry. 
                                                    Lorem Ipsum has been the industry's 
                                                    standard dummy text ever since the 1500s.
                                                    </p>
                                                    <div class="col-md-12">
                                                        <div class="viewDetails">
                                                            <button type="button">VIEW DETAILS</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 padding-0">
                                                <img class="courseImage marginTop" src="assets/images/aboutUs22.jpg">
                                            </div> 
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-12 departmentContent borderTop paddingTop">
                                <div class="row">
                                    <div class="col-md-12 course bottomHeight">
                                        <div class="row">
                                            <div class="col-md-7 courseDescription">
                                                <h3 class="textAlignRight">GRADE 11 - 12</h3>
                                                <div class="col-md-12 descriptionP">
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of 
                                                    the printing and typesetting industry. 
                                                    Lorem Ipsum has been the industry's 
                                                    standard dummy text ever since the 1500s.
                                                    </p>
                                                    <div class="col-md-12">
                                                        <div class="viewDetails">
                                                            <button type="button">VIEW DETAILS</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 padding-0">
                                                <img class="courseImage marginTop" src="assets/images/aboutUs22.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="instructorsSection" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button class="prevButton" data-ng-click="carousel.navigation('.instructorCarousel','slickPrev')"><i class="fa fa-chevron-left"></i></button>
            <button class="nextButton" data-ng-click="carousel.navigation('.instructorCarousel','slickNext')"><i class="fa fa-chevron-right"></i></button>
            <div class="row">
                <div id="ourInstructors" class="col-md-12 padding-0">
                    <h3>MEET OUR INSTRUCTORS</h3>
                    <div class="row">
                        <div class="col-md-12 padding-0 instructorCarousel">
                            <div class="col-md-4 padding-0">
                                <div class="instructorBox">
                                    <div class="instructorDescription">
                                        <h4>Jacob Thornton</h4>
                                        <p>
                                            Lorem Ipsum has been the
                                            industry's standard dummy
                                            text ever since the 1500s,
                                        </p>
                                        <div class="viewDetails">
                                            <button type="button">VIEW DETAILS</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 padding-0">
                                <div class="instructorBox">
                                    <div class="instructorDescription">
                                        <h4>Jacob Thornton 2</h4>
                                        <p>
                                            Lorem Ipsum has been the
                                            industry's standard dummy
                                            text ever since the 1500s,
                                        </p>
                                        <div class="viewDetails">
                                            <button type="button">VIEW DETAILS</button>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="col-md-4 padding-0">
                                <div class="instructorBox">
                                    <div class="instructorDescription">
                                        <h4>Jacob Thornton 3</h4>
                                        <p>
                                            Lorem Ipsum has been the
                                            industry's standard dummy
                                            text ever since the 1500s,
                                        </p>
                                        <div class="viewDetails">
                                            <button type="button">VIEW DETAILS</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 padding-0">
                                <div class="instructorBox">
                                    <div class="instructorDescription">
                                        <h4>Jacob Thornton 4</h4>
                                        <p>
                                            Lorem Ipsum has been the
                                            industry's standard dummy
                                            text ever since the 1500s,
                                        </p>
                                        <div class="viewDetails">
                                            <button type="button">VIEW DETAILS</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 padding-0">
                                <div class="instructorBox">
                                    <div class="instructorDescription">
                                        <h4>Jacob Thornton 5</h4>
                                        <p>
                                            Lorem Ipsum has been the
                                            industry's standard dummy
                                            text ever since the 1500s,
                                        </p>
                                        <div class="viewDetails">
                                            <button type="button">VIEW DETAILS</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div id="events" class="col-md-12">
                    <div>
                        <h1 class="eventsLabel">EVENTS<span class="whiteText">.</span></h1>
                        <!-- <button class="prevButton" data-ng-click="carousel.navigation('.eventsCarousel','slickPrev')"><i class="fa fa-chevron-left"></i></button>
                        <button class="nextButton" data-ng-click="carousel.navigation('.eventsCarousel','slickNext')"><i class="fa fa-chevron-right"></i></button>    -->
                    </div>
                   
                    <div class="eventsCarousel col-md-12">
                        <div>
                            <h1>INTRAMURALS</h1>
                            
                            <div class="row">
                                <div class="col-md-5 padding-0">
                                    <div class="mainPic"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6 padding-0">
                                                    <div class="subPic1"></div>
                                                </div>
                                                <div class="col-md-6 padding-0">
                                                    <div class="subPic2"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 padding-0">
                                                    <div class="subPic3"></div>
                                                </div>
                                                <div class="col-md-6 padding-0">
                                                    <div class="subPic4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h1>ALIKARAW</h1>
                            <div class="row">
                                <div class="col-md-5 padding-0">
                                    <div class="mainPic"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6 padding-0">
                                                    <div class="subPic1"></div>
                                                </div>
                                                <div class="col-md-6 padding-0">
                                                    <div class="subPic2"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 padding-0">
                                                    <div class="subPic3"></div>
                                                </div>
                                                <div class="col-md-6 padding-0">
                                                    <div class="subPic4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div id="missionVisionGoal" class="col-md-12">
            <div class="row">
                <div class="col-md-12 allContents">
                    <div class="row">
                        <div class="col-md-4 header">
                            <div class="contentImg">
                                <img src="assets/images/hand-shake.png">
                            </div>
                            <h1>MISSION</h1>
                            <p>
                                Lorem Ipsum is simply dummy text of the 
                                printing and typesetting industry. Lorem Ipsum 
                                has been the industry's standard dummy text ever 
                                since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also 
                                the leap into electronic typesetting, remaining 
                                essentially unchanged
                            </p>
                        </div>
                        <div class="col-md-4 header">
                            <div class="contentImg">
                                <img src="assets/images/idea.png">
                            </div>
                            <h1>VISSION</h1>
                            <p>
                                Lorem Ipsum is simply dummy text of the 
                                printing and typesetting industry. Lorem Ipsum 
                                has been the industry's standard dummy text ever 
                                since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also 
                                the leap into electronic typesetting, remaining 
                                essentially unchanged
                            </p>
                        </div>
                        <div class="col-md-4 header">
                            <div class="contentImg">
                                <img src="assets/images/startup.png">
                            </div>
                            <h1>GOAL</h1>
                            <p>
                                Lorem Ipsum is simply dummy text of the 
                                printing and typesetting industry. Lorem Ipsum 
                                has been the industry's standard dummy text ever 
                                since the 1500s, when an unknown printer took a galley 
                                of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also 
                                the leap into electronic typesetting, remaining 
                                essentially unchanged
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contactUsSection">
    <div class="row">
        <div class="col-md-12 mapBG">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.561957107134!2d124.74104781437279!3d10.376866269279933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33076eefc9a4703d%3A0xdab35939b725a2dd!2sMLG+College+of+Learning+Inc.!5e0!3m2!1sen!2sph!4v1510310577730" allowfullscreen></iframe>
        </div>
        <div class="contactBox">
            <div class="row">
                <div class="col-md-7">
                    <div class="contactInfo">
                        <div class="col-md-12">
                            <h2>Contact us</h2>
                        </div>
                        <div class="col-md-12 padding-0 contactDetails">
                            <div class="col-sm-3">
                                <img class="icons" src="assets/images/contactIcons/placeholder.png">
                            </div>
                            <div class="col-sm-9 padding-0">
                                <p class="contactText">
                                    23 Avenue de Hilongos
                                    <br/>
                                    6524 Philippines
                                </p>
                            </div>   
                        </div>
                        <div class="col-md-12 padding-0 contactDetails">
                            <div class="col-sm-3">
                                <img class="icons" src="assets/images/contactIcons/mail.png">
                            </div>
                            <div class="col-sm-9 padding-0">
                                <p class="contactText">
                                   email@gmail.com
                                </p>
                            </div>   
                        </div>
                        <div class="col-md-12 padding-0 contactDetails">
                            <div class="col-sm-3">
                                <img class="icons" src="assets/images/contactIcons/skype-logo.png">
                            </div>
                            <div class="col-sm-9 padding-0">
                                <p class="contactText">
                                   dah.ghoul
                                </p>
                            </div>   
                        </div>
                        <div class="col-md-12 padding-0 contactDetails">
                            <div class="col-sm-3">
                                <img class="icons" src="assets/images/contactIcons/smartphone (1).png">
                            </div>
                            <div class="col-sm-9 padding-0">
                                <p class="contactText2">
                                   0912 - 345 - 6789
                                </p>
                            </div>   
                        </div>
                        <div class="col-md-12">
                            <div class="links">
                                <div class="social-btns">
                                        <a class="btn instagram" href="#"><i class="fa fa-instagram"></i></a>
                                        <a class="btn twitter" href="#"><i class="fa fa-twitter"></i></a>
                                        <a class="btn linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                        <a class="btn google" href="#"><i class="fa fa-google-plus"></i></a>
                                        <a class="btn facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contactAction">
                        <h4>Get in touch with us</h4>
                        <p>Lorem ipsum is simply the dummy text of the 
                            printing and typesetting industry.
                        </p>
                        <form>
                            <input class="contactForm" type="text" name="Name" placeholder="NAME">
                            <input class="contactForm" type="text" name="Email" placeholder="EMAIL">
                            <textarea class="contactForm2" type="text" name="Message" placeholder="MESSAGE"></textarea>
                            <input class="contactSubmit" type="submit" value="SUBMIT">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-5 first">
                <h3>STAY CONNECTED:</h3>
                <input type="text" placeholder="EMAIL">
                <a href="" class="btn btn-info">SUBMIT</a>
                <p>Loren Ipsum is simply dummy text
                    of the printing and typesetting industry the printing
                    and typesetting industry.
                </p>
            </div>
            <div class="col col-md-4 second">
                <div class="contentLinks">
                    <div class="col-md-6">
                        <a href="">Industries</a>
                        <a href="">Products & Solutions</a>
                        <a href="">News & Events</a>
                        <a href="">Blog</a>
                    </div>
                    <div class="col-md-6">
                        <a href="">Help & Support</a>
                        <a href="">Contact Us</a>
                        <a href="">Fiar Use Policy</a>
                        <a href="">Media</a>
                    </div>
                </div>
                
            </div>
            <div class="col col-md-3">
                <div class="third">
                    <div>
                        <div class="contentLogo">
                            <img class="icons" src="assets/images/mlg.png">
                        </div>
                        <h5 class="logoLabel">MLG COLLEGE OF LEARNING, INC.</h5>
                        <h6 class="logoLabel2">Brgy. Atabay, Hilongos, Leyte</h6>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    $('.instructorCarousel').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: false,
        arrows: false
    });
</script>

<script>
    $('.eventsCarousel').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        arrows:false,
    });
</script>